#testmonials{
    margin-top: 80px;
}

.container.testmonials__container{
    width: 40%;
    padding-bottom: 4rem;
}

.client__avatar{

    width: 5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    max-width: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
    margin: auto;
}

.testmonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 1.8rem;
    user-select: none;

}
.client__review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet-active {
    background: var(--color-primary);
}


/*==============MEDIA QUERIE (MEADIAM DEVICES)============*/

@media screen and (max-width: 1024px) {
    #testmonials{
        margin-top: 100px;
        
    }
    .container.testmonials__container {
        width: 60%;   
    }
}

/*==============MEDIA QUERIE (SMALL DEVICES)============*/
@media screen and (max-width: 600px) {
    #testmonials{
        margin-top: 700px;  
    }
    .container.testmonials__container{
       width: var(--container-width-sm);
    }
    .client__review{
        width: var(--container-width-sm);
    }
    .container.testmonials__container {
        width: 90%;   
    }

}