
/*-----------FONT FAMILYS -------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}


/*-----------COLORS THAT ARE USED INSIDE CSS IN THE MAIN BODY----*/
:root{
    --color-bg: #191935;
    --color-bg-variant: #333336;
    --color-primary: #52728a;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    
}

/*-------FOR SMOOTH SCROLLING ON THE SITE------*/

html{
    scroll-behavior: smooth;

}
/*----------NO NEED TO USE THE SCROLLBAR ----*/
::-webkit-scrollbar {
    display: none;
}

/*--------CSS FOR THE MAIN BODY-----*/
body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-color: #000000;
    margin-top: 10px;
}




/* -----------GENERIAL STYLES ---------*/

.container{
    width: var(--container-width-lg);
    margin: auto;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

section{
    margin-top: 8rem;
}

section > h4 section > h6{
    text-align: center;
    color: var(--color-light);

}

section h4 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a{
    color: var(--color-primary);
    transition: var(--transition); 
}

a:hover{
    color: var(--color-white);
}

.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}


/*==================PRIMARY BUTTONS======*/

.btn-primary{
    background: var(--color-primary);
    color: var(--color-bg);
}
/* ==================IMAGES IN THE MAIN BODY=============*/
img{
    display: block;
    width: 100%;
    object-fit: cover;

}

/*==============MEDIA QUERIE (MEADIAM DEVICES)============*/

@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }
    section{
        margin-top: 6rem;
        height: 100vh;
    }
}


/*==============MEDIA QUERIE (SMALL DEVICES)============*/
@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-sm);
    }
    section > h2 {
        margin-bottom: 2rem;
    }
}






























